@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply globally */
body {
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.7s ease, color 0.3s ease;
}

button {
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.leaflet-marker-icon.bounce {
  animation: bounce 0.8s ease-in-out infinite;
}
/* Popup container */
.leaflet-popup-content-wrapper {
  /* https://grabient.com/HQNgTAHANMAsEFYZjLKBaADMAzARmi2DAE4QZYTDtY8wNswQSY8B2cvXJh4BE+ui6ZMOIA?style=angularSwatches&steps=15&angle=210 */

  background: linear-gradient(
    to left,
    #4776e6,
    #8e54e9
  ) !important; /* gray-800 */
  color: white !important;
  border-radius: 30px !important;
  padding: 1px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4) !important;
}

/* Popup tip arrow */
.leaflet-popup-tip {
  background: #1f2937 !important;
}

/* Inner text wrapper */
.leaflet-popup-content {
  margin: 0 !important;
  padding: 8px 12px !important;
  font-size: 14px;
}

.topper {
  z-index: 5000;
}
.toppest {
  z-index: 10000;
}

/* In index.css */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}
.pulse {
  animation: pulse 1.2s ease-out;
}
.conic {
  background: conic-gradient(
    from 210deg,
    rgba(197, 187, 184, 1) 0deg,
    rgba(197, 187, 184, 1) 24deg,
    rgba(184, 181, 184, 1) 24deg,
    rgba(184, 181, 184, 1) 48deg,
    rgba(169, 175, 183, 1) 48deg,
    rgba(169, 175, 183, 1) 72deg,
    rgba(154, 168, 181, 1) 72deg,
    rgba(154, 168, 181, 1) 96deg,
    rgba(139, 161, 179, 1) 96deg,
    rgba(139, 161, 179, 1) 120deg,
    rgba(125, 152, 175, 1) 120deg,
    rgba(125, 152, 175, 1) 144deg,
    rgba(112, 144, 171, 1) 144deg,
    rgba(112, 144, 171, 1) 168deg,
    rgba(101, 135, 166, 1) 168deg,
    rgba(101, 135, 166, 1) 192deg,
    rgba(92, 126, 161, 1) 192deg,
    rgba(92, 126, 161, 1) 216deg,
    rgba(85, 117, 155, 1) 216deg,
    rgba(85, 117, 155, 1) 240deg,
    rgba(81, 108, 148, 1) 240deg,
    rgba(81, 108, 148, 1) 264deg,
    rgba(79, 99, 141, 1) 264deg,
    rgba(79, 99, 141, 1) 288deg,
    rgba(80, 90, 133, 1) 288deg,
    rgba(80, 90, 133, 1) 312deg,
    rgba(84, 83, 125, 1) 312deg,
    rgba(84, 83, 125, 1) 336deg,
    rgba(91, 75, 116, 1) 336deg 360deg
  );
}
