@import "tailwindcss";
/* Default (light mode) */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.7s ease, color 0.3s ease;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  cursor: pointer;
}
.preset-btn {
  border-radius: 8px;
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  color: whitesmoke;
  transition: all 0.25s ease-in;
}

.preset-btn:focus,
.preset-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.head-logo-container {
  height: 100%;
  width: 25%;
  cursor: pointer;
  transition: all 0.6s ease;
}
.head-logo-container .head--logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.head-logo-container:hover {
  transform: scale(1.5);
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.leaflet-marker-icon.bounce {
  animation: bounce 0.8s ease-in-out infinite;
}
.topper {
  z-index: 10000;
}
.toppest {
  z-index: 11000;
}
.topX {
  z-index: 12000;
}
/* In index.css */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}
.pulse {
  animation: pulse 1.2s ease-out;
}
